@{
  Layout = "_Layout";
}

@using Registrar.Models;
@model List<Registrar.Models.Department>;
<div class="container card">
<h1>University Departments</h1>
<form>
    <i class="glyphicon glyphicon-search"></i><input type="text" name="DepSearch" placeholder="search and press enter">
</form>

@if (@Model.Count == 0)
{
  <h3>No departments have been added yet!</h3>
} 

@foreach (Department department in Model)
{
  <li>@Html.ActionLink($"{department.DepartmentName}", "Details", new { id = department.DepartmentId })</li>
}

<p>@Html.ActionLink("Add new department", "Create")</p>
<strong><p>@Html.ActionLink("Delete All Departments", "DeleteAll")</p></strong>
</div>