<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>University</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <div class="nav">
    <nav class="navbar navbar-expand">
      <h4>Registrar</h4>
      <ul class="navbar-nav">
        <a class="nav-link" href="/">Home</a>  
        <a class="nav-link" href="/Students">Students</a>
        <a class="nav-link" href="/Courses">Courses</a>
        <a class="nav-link" href="/Departments">Departments</a>
      </ul>
      </nav>
    </div>
    <div class="col-md-5" class="container card" style="margin: auto;">
      @RenderBody()
      @Html.Partial("Footer")
      @* @Html.Partial("Header") *@ 
    </div>
  <body style="background-image: src=https://unsplash.com/photos/jsuWg7IXx1k">
  </body>
</html>


















    @* <nav class="navbar navbar-expand-lg navbar-info bg-info justify-content-center">
      <div class="navbar-nav">
        <a class="nav-item nav-link active text-light" href="/">Home</a>
        <a class="nav-item nav-link text-light" href="/students">Student Directory</a>
        <a class="nav-link nav-link text-light" href="/students/create">Add new Student</a>
        <a class="nav-item nav-link text-light" href="/courses">Course Directory</a>
        <a class="nav-item nav-link text-light" href="/courses/create">Add new Course</a>
      </div>
    </nav>

    <div class="container">
      @RenderBody()
    </div> *@
