@{
  Layout = "_Layout";
}
<div class="container card">
    <h1>Welcome Students!</h1>
    <h3>@Html.ActionLink("See all courses", "Index", "Courses")</h3>
    <h3>@Html.ActionLink("See all students", "Index", "Students")</h3>
    <h3>@Html.ActionLink("See all departments", "Index", "Departments")</h3>
</div>